# Copia este archivo como .env.dev, .env.qa o .env.prod
# NUNCA subas archivos .env.* al repositorio

APP_ENV=development           # development | qa | production
ALLOWED_ORIGINS=http://localhost:8100  # Orígenes separados por coma
